.pagination{
    display: flex;
    justify-content: center;
}
.pagination.disabled{
    display: none;
}

.pagination__buttons{
    color: #C0C0C0;
    display: flex;
    list-style: none;
    font-size: 18px;
    margin-top: 50px;
}

.pagination__buttons__item{
    padding: 0 5px;
    cursor: pointer;
    transition: .2s ease-in;
}

.pagination__buttons__item:hover{
    color: black;
}

.pagination__buttons__item.active{
    cursor: default;
    color: black;
}